.player-one {
    background-color: #f4b23e;
    width: 50%;
    float: left;
}

.player-two {
    background-color: #58b4a0;
    width: 50%;
    float: left;
}

.score {
    color: #595959;
    padding-top: 20px;
}

.title{
    margin-top: 5px;
    margin-bottom: 8px;
}
