@import "../../asset/styles/colors.scss";

.player-one {
    background-color: #f4b23e;
    width: 50%;
}

.player-two {
    background-color: #58b4a0;
    width: 50%;
}

.score {
    color: #595959;
    padding-top: 20px;
}

.title{
    margin-top: 5px;
    margin-bottom: 8px;
    font-weight: lighter;
}

.shots{
    color: $primary-color;
    font-size: 18px;
}

.hits{
    color: #dc3545;
    font-size: 18px;
}

hr {
    margin: 0 10px 0 10px;
    border-top-width: 2px;
}
