@import "../../asset/styles/colors.scss";

.container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding: 10px;
    height: 100%;
}

.result-panel{
    width: 200px;
    text-align: center;
}

.game-panel{
    width: 500px;
    text-align: center;
}

