
.ship-container{
    overflow: auto;
    width: auto;
    max-height: 500px;
}


@media (min-width: 320px) {
    .ship-icon {
        width: 70px;
        height: auto;
        padding: 5px;
    }
}

@media (min-width: 576px) {
    .ship-icon {
        width: 70px;
        height: auto;
        padding: 5px;
    }
}

@media (min-width: 900px) {
    .ship-icon {
        width: 100px;
        height: auto;
        padding: 10px;
    }
}

@media (min-width: 1200px) {
    .ship-icon {
        width: 100px;
        height: auto;
        padding: 10px;
    }
}
