@import "../src/asset/styles/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}

body {
  background: $secondary-color;
}
.main-container {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}